.header-container{
    display: flex;
    padding: 20px;
    align-items: center;
    justify-content: space-between;
}
.header-left{
    display: flex;
    color: rgb(96, 96, 96);
    
    align-items: center;
}
.header-middle{
    width: 40%;
    display: flex;
    align-items: center;
}

.header-right{
    display: flex;
    align-items: center;
}
#youtube-logo{
    height: 25px;
    object-fit: contain;
    margin-left: 10px;
}

#search{
    width: 80%;
    padding:1px 0px 3px 1px;
    font-size: 15px;
    border:none;
    border-right: 2px solid #e7e7e7;
}
.search-bar{
    display: flex;
    width: 100%;
    background-color: rgb(248,248,248);
    height: 30px !important;
    border: 2px solid #e7e7e7;
}
.search-bar > .search-input{
    flex: 1;
}
.search-box-btn{
    border: none;
    color:rgb(151,151,151);
    
}
.header-middle >.search-bar > .search-box-btn {
    width: 58px !important;
    font-size: 20px;
    margin-left: 15px;
    
    
    color: rgb(151,151,151);
    background-color: rgb(248,248,248);
    cursor: pointer;
    align-self: center;
    cursor: pointer;
    color: rgb(151,151,151);
    background-color: rgb(248,248,248);
}
.header-middle >.mic-btn{
    color:rgb(96, 96, 96);
    
    align-self: center;
    margin-left: 10px;
    cursor: pointer;
}
.header-right > #video-btn ,#app-btn ,#notification-btn{
    color: rgb(96, 96, 96);
    margin-right: 20px;
    
    cursor: pointer;
}
.header-right > #avatar-btn{
    color: rgb(96, 96, 96);
    margin-right: 20px;
    
    cursor: pointer;
}
input[type=text]:focus{
    outline: none !important;
    border-color: #719ECE;
    box-shadow: 0 0 10px #719ECE;
}