.video-logo-container{    
    width: 100%;
    display: flex; 
    margin-bottom: 20px;
}
.video-logo-container  >img {
    width: 290px;
    min-width: 200px;
    height: 130px;
    border-radius:50%;
    margin-left: 10%;
    cursor: pointer;
}
.title-logo-con{
    display: flex;
    width: 90%;
    margin-left: 10%;
    margin-top: 0.5rem;
}
.video-logo-container >.title-logo-con >.view-logo-con>p{
    color: gray;
    cursor: pointer;
}
.view-logo-con > h4 {
    margin-top: -1%;
    font-weight: 600;
    font-size: 19px;
    cursor: pointer;
}

.video-logo-container >.title-logo-con>.view-logo-con>h4{
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}   
.view-logo-con{
    margin-left: 0.7rem;
}


.desc-con{
    width: 60%;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2; /* number of lines to show */
    line-height: 1.5;        /* fallback */
    max-height: 3;       /* fallback */
}
.Subscribe-btn >button {
    background-color:#CC0000 ;
    color: #ffffff;
    height: 37px;
    width: 109.938px;
    margin: 0 4px 0 4px;
    min-height: auto;
    min-width: 71.96px;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.5px;
    text-decoration: none solid rgb(255,255,255);
    text-transform: uppercase;
    white-space: nowrap;
    word-spacing: 0px;
    border: none;
    margin-top: 50%;
    cursor: pointer;
}